/* Globales
-----------------------------------------------------*/
:root {
  --verde-brilante: #62e980;
  --verde-oscuro: #192e1b;
  --fondo-0: #e0e9e1;
  --fondo-1: #A0AFA1;
  --fondo-2: #ff911ddb;
  --fondo-3: #ff445eed;
}
html {
  height: 100vh;
}
body {
  background: #fefefe;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  margin: 0;
  color: #8e8e8e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}
body p {
  line-height: 1.4em;
  color: var(--verde-oscuro);
}
.inselecto {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.fondo {
  background: var(--fondo-1);
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  width: calc(100vw - 80px);
  transition: 1s;
}
/* Tarjeta de inicio: logo
-----------------------------------------------------*/
.logo {
  background: #fefefe;
  box-shadow: 0 40px 55px -35px #00000099;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -20px;
  left: 0px;
  transition: 0.5s;
}
.logo h1 {
  color: var(--verde-oscuro);
  font-size: 6em;
  text-shadow: -3px 3px 0px var(--verde-brilante);
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.logo h2 {
  font-size: 1.9em;
  background: var(--verde-oscuro);
  color: var(--verde-brilante);
  padding: 40px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}
.logo:after {
  content: "Dise" "\00f1" "o de informaci" "\00f3" "n para sitios web y todo tipo de piezas digitales e impresas.";
  position: absolute;
  bottom: -90px;
  left: 30px;
  font-size: 1.1em;
  color: white;
}
/* MenÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Âº
-----------------------------------------------------*/
.menu {
  position: fixed;
  top: 20px;
  right: 80px;
  left: auto;
  z-index: 9999;
  background: #fefefe;
  padding: 10px 20px;
  font-weight:600;
  font-size: 1.2em;
  border-bottom: solid 4px var(--verde-brilante);
  transition: 0.8s;
  cursor: pointer;
  color: var(--verde-oscuro);
  box-shadow: 0 2px 20px -8px #00000099;
}
.menu:hover {
  background: #192e1b;
  color: #fefefe;
  top: 10px;
}
.menu span {
  display: block;
  width: 5ch;
  text-align: center;
}
.menu .brux {
  color: var(--verde-brilante);
  width: 0px;
  overflow: hidden;
  transition: 2s;
}
/* PresentaciÃ³nn
-----------------------------------------------------*/
.presentacion {
  display: none;
  position: absolute;
  top: 180px;
  right: -100vw;
  width: 100vw;
  transition: 0.8S;
  left: 100vw;
}
.resumen {
  width: 600px;
}
.resumen h1 {
  color: var(--verde-oscuro);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.5em;
  margin: 30px 0 60px;
}
/* Acciones
-----------------------------------------------------*/
.fueraLogo {
  left: -100vw;
}
.fueraMenu {
  top: 0;
  background: #192e1b;
  color: #fefefe;
}
.verBrux {
  width: 5ch !important;
}
.fondoPeque {
  width: 32vw;
  position: fixed;
}
.entraPresentacion {
  right: 0;
  width: auto;
  left: 25vw;
}