/* Globales
-----------------------------------------------------*/
:root {
  --verde-brilante: #62e980;
  --verde-oscuro: #192e1b;
  --fondo-0: #e0e9e1;
  --fondo-1: #A0AFA1;
  --fondo-2: #ff911ddb;
  --fondo-3: #ff445eed;
}
html {
  height: 100vh;
}
body {
  background: #fefefe;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  margin: 0;
  color: #8e8e8e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
}
body p {
  line-height: 1.4em;
  color: var(--verde-oscuro);
}
.inselecto {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.fondo {
  background-image: linear-gradient(to right top, #171b27, #1e2231, #242a3b, #2c3145, #333950);
  /* background: var(--fondo-1); */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(100vw - 0px);
  transition: 1s;
}
.brux-fondo {
  font-size: 540px;
  color: #ffffff04;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.brux-fondo span {
  position: relative;
  bottom: -240px;
  right: -160px;
}
/* Tarjeta de inicio: logo
-----------------------------------------------------*/
.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -20px;
  left: 0px;
  transition: 0.5s;
}
.logo h1 {
  color: white;
  font-size: 6em;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.logo h2 {
  font-size: 1.9em;
  color: white;
  padding: 40px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  border-left: solid #f35635;
  font-weight:  100;
}
.logo:after {
  content: "Dise" "\00f1" "o de informaci" "\00f3" "n para sitios web y todo tipo de piezas digitales e impresas.";
  position: absolute;
  bottom: -90px;
  left: 30px;
  font-size: 1.1em;
  color: #ffffff50;
  width:  100%;
  text-align: center;
}
/* Menú
-----------------------------------------------------*/
.menu {
  position: fixed;
  top: 0;
  right: 0px;
  left: auto;
  z-index: 9999;
  padding: 20px 20px;
  font-weight: 100;
  font-size: 1.2em;
  border-right: solid 4px #f35635;
  transition: 0.8s;
  cursor: pointer;
  color: #ffffff60;
}
.menu:hover {
  color: #fefefe;
}
.menu span {
  display: block;
  text-align: center;
}
/* Presentacion
-----------------------------------------------------*/
.presentacion {
  position: absolute;
  top: 120px;
  right: -100vw;
  width: 100vw;
  transition: 0.8S;
  left: 100vw;
}
.resumen {
  max-width: 600px;
  padding-right: 20px;
}
.resumen h1 {
  color: var(--verde-oscuro);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.5em;
  margin: 30px 0 60px;
}
.resumen p > b {
  color: #f35635;
}
/* Acciones
-----------------------------------------------------*/
.fueraLogo {
  left: -100vw;
}
.fueraMenu {
  color: #333950;
}
.fondoPeque {
  width: 24vw;
  position: fixed;
}
.entraPresentacion {
  right: 0;
  width: 66vw;
  left: 34vw;
}