body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 18px;
  font-weight: 300;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #303030;
}
.contenedor {
  max-width: 650px;
  padding: 0 20px;
  margin: 40px auto;
}
 .encabezado img {
   width: 100%;
 }
  .encabezado p {
    font-size: 1.6em;
    line-height: 1.2em;
    color: #a09f9f;
  }
  .encabezado span {
    color: #7d7d7d;
    font-weight: bold;
  }
  .seccion {
    margin: 160px 0;
  }
  .seccion h2 {
    color: #878787;
    font-size: 1.8em;
    font-weight: 300;
  }
  .seccion p {
    line-height: 1.6em;
  }
  .barra {
    width: 73px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #f8f8f8;
    border-right: 1px solid #ececec;
    text-align: center;
    padding-top: 40px;
  }
  .barra * {
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
  }
  .barra *::after {
    position: absolute;
    border: solid 1px #ececec;
    background: white;
    font-size: 0.8em;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    top: -5px;
    display: none;
    color: #999;
  }
  .barra *:hover:after {
    display: inline;
  }
  .barra img {
    filter: grayscale(100%);
  }
  .barra img:hover {
    filter: grayscale(60%);
  }  
  .barra .abogados::after {
    content: "Abogados";
  }
  .barra .servicios::after {
    content: "Servicios";
  }
  .barra .contacto::after {
    content: "Contacto";
  }
  .barra a {
    color: #a09f9f;
  }
  .barra a:hover {
    color: #7d7d7d;
  }
  @media (max-width: 820px) {
  .barra {
    display: none;
  }
}